body{
    margin:0px;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/*Font Family*/
/* font-family: 'Lobster', cursive; */
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    /* position: fixed; */
    top: 0px;
}

#navbar::before{
    content: "";
    background-color:#fc8a0f;
    position: absolute;
    top:0px;
    left:0px;
    height: 88%;
    width:100%;
    z-index: -1;
    opacity: 0.1;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color:Black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color:whitesmoke;
}


/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('Images/Orange_cat.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: right;
    font-family: 'Lobster', cursive;
    font-size: 350%;
}

#home p{
    color:white;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    left:900px;
}

.text{
    position: absolute;
    right: 10%;
}

/*button*/
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(201, 41, 41);
    color: white;
    margin: 17px;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor:pointer;
}

/*About*/
div{
    display:inline;
}
#content1{
    float:left;
    width:50%;
    display: flex;
    
    /* background-color: aqua; */
}

#content2{
    float:left;
    width:50%;
    background-color:blue;
}

